.dashboard-box{
    display: flex;
}
@media (min-width: 768px) {
    
    .dashboard-box{
        display: flex;
    }
    
  }
@media (min-width: 1024px) {
    .header-content{
        // border: 2px solid rgb(63, 42, 165); 
        // width: 100%;
    }
    .dashboard-box{
        display: flex;
    }
    
  }
  