.content-wrapper {
  /* border: 1px solid rgb(152, 234, 28); */
  margin-top: 50px;
  padding-left: 10px;
  padding-right: 10px;
}
.back-arrow{
  display: flex;
  /* justify-content: center; */
  align-items: center;
  color:rgba(33, 63, 125, 1);
  padding: 20px;
  cursor: pointer;
  text-transform: capitalize;
}

.back{
  margin-left: 10px;
  color:rgba(33, 63, 125, 1);
}
.users-blacklist-activate{
  /* border: 1px solid black; */
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.blacklist-activate{
  /* border: 1px solid black; */
  padding: 10px;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  width: 300px;
}
.button-red{
  padding: 10px;
  font-size: 14px;
  text-transform: uppercase;
  border: 1px solid red;
  color: red;
  /* width: 150px; */
  border-radius: 10px;
  background-color: white;
  cursor: pointer;
}
.button-green{
  padding: 10px;
  font-size: 14px;
  border-radius: 10px;
  margin-left: 10px;
  border: 1px solid green;
  text-transform: uppercase;
  color: green;
  background-color: white;
  /* width: 150px; */
  cursor: pointer;

}
.content-information-wrapper {
  overflow: auto;
  white-space: nowrap;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  /* border: 2px solid blue; */
  margin-top: 40px;
  width: 100%;
}

.usersProfile-wrapper {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.avatar-username{
  display: flex;
  /* border-right: 1px solid gray; */
  padding: 20px;
}
.account-naira,.tier{
  /* border-right: 1px solid gray; */
  padding: 20px;
}
.avatar-username-img{
  background-color: rgba(232, 229, 229, 0.879);
  border-radius: 50px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  /* border: 2px solid rebeccapurple; */
}
.user-avatar{
  border-radius: 50%;
}
.username,.tier-box{
  border-right: 1px solid rgb(135, 132, 132);
  padding-right:20px;
}
.user-fullname,.account-amount{
  font-weight: 800;
}

.tier-box{
  padding-bottom: 20px;
  padding-top: 1px;
}
.profile-box{
  display: flex;
  /* border: 2px solid blue; */
}
.profile-list-link{
  /* border: 2px solid black; */
  display: flex;
  justify-content: space-between;
  padding: 30px 30px 0px 30px;
}
.profile-list{
  padding-bottom: 20px;
}
.profile-list-1{
  color: rgba(57, 205, 204, 1);
  border-bottom:2px solid rgba(57, 205, 204, 1);
}
.profile-list:hover{
  border-bottom:2px solid rgba(57, 205, 204, 1);
  cursor: pointer;
  color: rgba(57, 205, 204, 1);
}

@media (min-width: 768px) {
  .content-wrapper {
    padding-left: 20px;
    padding-right: 20px;
  } 
  .avatar-username-img{
    background-color: rgba(232, 229, 229, 0.879);
    border-radius: 50px;
    width: 90px;
  }
}
@media (min-width: 1440px) {
  .content-wrapper {
    padding-left: 40px;
    padding-right: 40px;
    margin-left: auto;
    margin-right: auto; 
    width: 1440px;
    /* border: 2px solid red; */
  } 
}
