img{
    width: 100%;
    height: auto;
}
.header-wrapper{
    display: flex;
    justify-content: space-between;
    // border: 2px solid rgb(226, 107, 43);
    padding: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

}
.search-wrapper{
    // border: 2px solid blue; 
    width: 500px;
    display: flex;
}
.input-element{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid rgb(186, 184, 184);

}
.search-icon{
    display: flex;
    align-items: center;
    background-color: #39CDCC;
    color: white;
    padding: 8px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px; 
    cursor: pointer;   
}
.docs-avatar{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    // border: 2px solid red; 
    margin-bottom: 10px;
}
.docs-bell{
    display: flex;
    align-items: center;
    // border: 3px solid green;
}
.docs,.bell,.avatar-wrapper,.ayodeji{
    margin-right: 10px;
    // border: 1px solid blue;
}
.avatar-wrapper{
    width: 50px;     
}
.avatar-img{
    border-radius: 50%;
    /* border: 2px solid red; */
}
.user-name-dropdown{
    display: flex;
    align-items: center;
    padding-right: 20px;
    /* border: 3px solid green; */
}

@media (min-width: 768px) {
    .header-wrapper{
        display: flex;
        justify-content: space-between;
    // box-shadow: none;
        
        flex-direction: row;
        // max-width: 1024px;
        // margin: 0 auto;
    }
    .search-wrapper{
        min-width: 400px;
        padding: 3px;
        display: flex;
        width: 0px;
        /* border: 3px solid rgb(78, 125, 7); */
    }
    input{
        padding: 16px;
        min-width: 300px;
        border: 1px solid rgb(183, 181, 181);
    }
    .search-icon{
        padding: 16px;
    }
}
@media (min-width: 1024px) {
    .header-wrapper{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        max-width: 1024px;
        margin: 0 auto;
        box-shadow: none;

    }
    .header-box{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }
}